#whale {
	margin: auto;
	margin-right: auto;
	background: url(http://sierraclub.typepad.com/photos/uncategorized/2008/04/29/singing_whale_thumbnail.jpg);
	background-repeat: no-repeat;
	height: 80%;
}
